.slideToggle {
  position: relative;
  z-index: 1;
  display: block;
  margin: 7px 20px 0;
  -webkit-user-select: none;
  user-select: none;
}


.slideToggle input[type='checkbox'] {
  position: absolute;
  z-index: 2;
  top: -17px;
  left: -5px;
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0;
  -webkit-touch-callout: none;
}

.slideToggle span.ham-bar {
  position: relative;
  z-index: 3;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transform-origin: 4px 0;
  border-radius: 3px;
  background: #CCE5FE;
}

.slideToggle span.ham-bar:first-child {
  transform-origin: 0 0;
}

.slideToggle span.ham-bar:nth-last-child(2) {
  transform-origin: 0 100%;
}

.slideToggle input[type='checkbox']:checked ~ div span.ham-bar {
  transform: rotate(45deg) translate(-3px, -4px);
  opacity: 1;
  background: #CCE5FE;
}

/*
 * But let's hide the middle one.
 */
.slideToggle
  input[type='checkbox']:checked
  ~ div
  span.ham-bar:nth-last-child(2) {
  transform: rotate(0deg) scale(0.2, 0.2);
  opacity: 0;
}

/*
 * Ohyeah and the last one should go the other direction
 */
.slideToggle
  input[type='checkbox']:checked
  ~ div
  span.ham-bar:nth-last-child(1) {
  transform: rotate(-45deg) translate(0, -4px);
}

.menuSliding {
  position: absolute;
  width: calc(100vw + 120px);
  margin: -120px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translate(-100%, 0);
  /* to stop flickering of text in safari */
  transform-origin: 0 0;
  background: #333940;
  -webkit-font-smoothing: antialiased;
}


.menuSliding li {
  font-size: 22px;
  padding: 10px 0;
}

.slideToggle input[type='checkbox']:checked ~ .menuSliding {
  transform: none;
}

.slideToggle input[type='checkbox'] ~ .TopRes__Grey {
  display: none;
}

.slideToggle input[type='checkbox']:checked ~ .TopRes__Grey {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
