.X span {
  position: relative;
  display: block;
  width: 25px;
  height: 4px;
  margin-bottom: 5px;
  border-radius: 3px;
  background: black;
}

/* / */
.X span:nth-last-child(1) {
  transform: rotate(-45deg) translate(5px, -6px);
  opacity: 1;
  background: #232323;
}
.X span:nth-last-child(2) {
  opacity: 0;
}

/* \ */
.X span:nth-last-child(3) {
  transform: rotate(45deg) translate(6px, 8px);
  opacity: 1;
  background: #232323;
}
